@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-Regular.ttf') format('truetype'),
        url('fonts/AbhayaLibre-Regular.woff2') format('woff2'),
        url('fonts/AbhayaLibre-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-Medium.ttf') format('truetype'),
        url('fonts/AbhayaLibre-Medium.woff2') format('woff2'),
        url('fonts/AbhayaLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-SemiBold.ttf') format('truetype'),
        url('fonts/AbhayaLibre-SemiBold.woff2') format('woff2'),
        url('fonts/AbhayaLibre-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-Bold.ttf') format('truetype'),
        url('fonts/AbhayaLibre-Bold.woff2') format('woff2'),
        url('fonts/AbhayaLibre-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-ExtraBold.ttf') format('truetype'),
        url('fonts/AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('fonts/AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'Abhaya Libre', sans-serif;
}

a {
    font-size: 20px;
    color: #323232;
}

.section {
    margin-top: 50px;
    margin-bottom: 180px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.header img {
    width: 400px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.head-nav .header .top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbtn {
    font-size: 50px;
    line-height: 80px;
    display: none;
    margin-right: 30px;
    z-index: 1000;
}

#check {
    display: none;
}

.navbar .nav-item {
    margin: 10px 40px;
    text-decoration: none;
    text-align: center;
}

.navbar .nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 40px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navbar .nav-link:before,
.navbar .nav-link:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #505050;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navbar .nav-link:before {
    top: 0px;
    transform: translateY(10px);
}

.navbar .nav-link:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.navbar .nav-link:hover:before,
.navbar .nav-link:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* .min-size{
    display:none;
} */

.hero {
    margin-top: 10px;
}

.hero img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.hero .desc {
    margin: 0 80px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero .desc h1 {
    font-size: 60px;
    margin-right: 70px;
    flex-grow: 2;
    min-width: 700px;
}

.hero .desc p {
    font-size: 25px;
    flex-grow: 1;
}


/* CSS */
.button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background-color: white;
    color: black;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.footer h1 {
    text-align: center;
}

.footer h2 {
    text-align: center;
    margin-bottom: 80px;
}

.footer .footer-img {
    margin-top: 40px;
    margin-bottom: 80px;
}

.footer img {
    height: 300px;
    padding-right: 30px;
}

.footer .support-list {
    display: flex;
    justify-content: space-around;
}

.footer .support-list img {
    height: 150px;
    padding: 0 40px;
}

.programme {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.programme h1 {
    text-align: center;
}

.programme h2 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}

.programme h3 {
    font-size: 25px;
}

.programme p {
    font-size: 25px;
}

.programme span {
    font-size: 20px;
}

.programme .time-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
}

.programme .time-slot h3 {
    margin-right: 100px;
}

.programme .time-slot .event-desc p {
    margin-bottom: 10px;
}

.programme .panels {
    margin: 0 200px;
}

.programme .panels ul li {
    font-size: 20px;
    padding-bottom: 5px;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 80px;
}

.feature .single-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.feature .single-feature a {
    font-size: 22px;
}

.feature .single-feature img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.speaker {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.speaker h1 {
    text-align: center;
    margin-bottom: 80px;
}

.speaker .single-speaker {
    display: flex;
    margin-bottom: 30px;
    margin-right: 150px;
}

.speaker .single-speaker img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.08);
}

.speaker .single-speaker p {
    font-size: 28px;
    margin-top: 0;
}

.speaker .single-speaker span {
    font-size: 20px;
    margin-top: 0;
    color: #2a2a2a;
}


.breakout {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.breakout h1 {
    text-align: center;
    margin-bottom: 80px;
}

.breakout .single-breakout {
    display: flex;
    margin-bottom: 60px;
    margin-right: 150px;
}

.breakout .single-breakout img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.08);
}

.breakout .single-breakout p {
    font-size: 28px;
    margin-top: 0;
}

.breakout .single-breakout span {
    font-size: 20px;
    margin-top: 0;
    color: #2a2a2a;
}

.tech-visit {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tech-visit h1 {
    text-align: center;
    margin-bottom: 80px;
}

.tech-visit .single-tech-visit {
    display: flex;
    margin-bottom: 60px;
    margin-right: 150px;
}

.tech-visit .single-tech-visit img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.08);
}

.tech-visit .single-tech-visit p {
    font-size: 28px;
    margin-top: 0;
}

.tech-visit .single-tech-visit span {
    font-size: 20px;
    margin-top: 0;
    color: #2a2a2a;
}

@media(max-width:1380px) {
    .hero .desc {
        margin: 0 50px;
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hero .desc h1 {
        font-size: 60px;
        margin-right: 70px;
        flex-grow: 2;
        min-width: 600px;
    }

    .navbar .nav-link {
        margin: 0 20px;
    }

    .breakout {
        margin: 0 80px;
    }

    .breakout .single-breakout {
        margin-right: 0;
    }

    .breakout .single-breakout img {
        margin-right: 70px;
    }

    .tech-visit {
        margin: 0 80px;
    }

    .tech-visit .single-tech-visit {
        margin-right: 0;
    }

    .tech-visit .single-tech-visit img {
        margin-right: 70px;
    }

    .speaker {
        margin: 0 80px;
    }

    .speaker .single-speaker {
        margin-right: 0;
    }

    .speaker .single-speaker img {
        margin-right: 70px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }

    .footer img {
        height: 200px;
        padding-right: 30px;
    }

    .footer .support-list img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        padding: 0 15px;
    }
}

@media(max-width:1168px) {

    .hero .desc {
        margin: 0 80px;
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hero .desc h1 {
        font-size: 60px;
        margin-right: 40px;
        flex-grow: 2;
        min-width: 500px;
    }

    .feature .single-feature {
        padding: 0 20px;
    }

    .feature .single-feature img {
        width: 250px;
        height: 250px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }

    .footer img {
        height: 150px;
        padding-right: 30px;
    }

    .footer .support-list img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        padding: 0 12px;
    }
}

@media(max-width: 912px) {
    .header img {
        margin-left: 10px;
    }

    .programme {
        margin: 0 80px;
    }

    .programme .panels {
        margin: 0 130px;
    }

    .programme .time-slot {
        margin-bottom: 0;
    }

    .programme .time-slot .time-slot-ind{
        margin-right: 85px;
    }

    .programme .time-slot h3,
    .programme .time-slot p {
        margin-bottom: 10px;
    }

    .breakout {
        margin: 0 80px;
    }

    .breakout h1 {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .breakout .single-breakout {
        margin-right: 0;
    }

    .breakout .single-breakout img {
        margin-right: 30px;
        height: 300px;
        object-fit: cover;
    }

    .breakout .single-breakout p {
        margin-bottom: 10px;
    }

    .tech-visit {
        margin: 0 80px;
    }

    .tech-visit h1 {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .tech-visit .single-tech-visit {
        margin-right: 0;
    }

    .tech-visit .single-tech-visit img {
        margin-right: 30px;
        height: 300px;
        object-fit: cover;
    }

    .tech-visit .single-tech-visit p {
        margin-bottom: 10px;
    }

    .speaker {
        margin: 0 80px;
    }

    .speaker h1 {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .speaker .single-speaker {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .speaker .single-speaker img {
        margin-right: 30px;
    }

    .speaker .single-speaker p {
        margin-bottom: 10px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .nav-item {
        text-align: center;
    }

    .header h1 {
        font-size: 30px;
    }

    /* .min-size{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 200px;
    } */

    .hero .desc {
        margin: 0 50px;
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hero .desc h1 {
        font-size: 60px;
        margin-right: 70px;
        flex-grow: 2;
        min-width: 300px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }

    .footer img {
        height: 200px;
        padding-right: 30px;
    }

    .footer .support-list img {
        height: 130px;
        width: 130px;
        object-fit: cover;
        padding: 0 15px;
    }
}

@media(max-width:915px) {
    .head-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .head-nav .header img {
        width: 400px;
        margin-right: 350px;
    }

    .head-nav .header h1 {
        display: none;
    }

    .head-nav .checkbtn {
        display: block;
        position: fixed;
        top: 50px;
        right: 30px;
    }

    .head-nav hr {
        display: none;
    }

    .header .top-header {
        display: flex;
        flex-direction: row;
    }

    .navbar {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #ffffff;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        transition: all .5s;
        z-index: 999;
        overflow-y: hidden;
    }

    .feature {
        display: flex;
        flex-direction: column;
    }

    .feature .single-feature {
        margin-bottom: 30px;
    }

    .navbar .nav-link {
        font-size: 50px;
        padding: 30px 0;
    }

    #check:checked~.navbar {
        left: 0;
    }
}

@media(max-width: 500px) {

    .header{
        margin-top: 10px;
    }

    .header .top-header img {
        margin-right: 0;
        width: 250px;
    }

    .header h1 {
        margin: 0 30px;
        font-size: 1.2rem;
    }

    .section{
        margin-bottom: 50px;
    }

    .hero img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .hero .desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .hero .desc h1 {
        font-size: 30px;
        margin:0;
        margin-top: 50px;
        text-align: center;
    }

    .hero .desc p {
        font-size: 14px;
        margin:0;
        margin-top: 20px;
        text-align: center;
    }

    .button {
        appearance: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        margin-top: 30px;
        min-height: 50px;
        min-width: 0;
        padding: 0;
    }

    .head-nav .checkbtn {
        display: block;
        position: fixed;
        top: 30px;
        right: 10px;
        font-size: 20px;
        line-height: 80px;
        margin-right: 30px;
    }

    .main-desc-btn{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .footer h1 {
        display:none;
    }

    .footer h2 {
        font-size: 15px;
        margin-bottom: 50px;
    }

    .footer .footer-img{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .footer .footer-img img{
        width: 130px;
        height: auto;
        padding:0  10px;
    }

    .footer .support-list img{
        width:60px;
        height:60px;
        padding:0 5px;
    }

    .navbar .nav-item{
        font-size:30px;
    }

    .programme{
        margin: 30px;
    }

    .programme h2{
        font-size: 25px;
    }

    .programme h3{
        font-size: 25px;
    }

    .programme .time-slot{
        margin-left: 25px;
        margin-bottom: 10px;
    }

    .programme .time-slot h3 {
        margin-right: 30px;
        margin-top: 10px;
    }

    .programme .time-slot p {
        margin-top: 10px;
        font-size: 18px;
    }

    .programme .time-slot .event-desc p {
        margin-bottom: 2px;
    }

    .programme .time-slot .time-slot-ind{
        margin-right: 22px;
    }

    .programme .panels {
        margin: 0 70px;
    }

    .feature{
        margin-right:30px;
        margin-left:30px;
    }

    .speaker{
        margin: 30px;
    }

    .speaker .single-speaker img{
        width: 150px;
        height: 150px;
    }

    .speaker .single-speaker p{
        font-size: 25px;
    }

    .speaker .single-speaker span{
        font-size: 15px;
    }
}