@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-Regular.ttf') format('truetype'),
        url('fonts/AbhayaLibre-Regular.woff2') format('woff2'),
        url('fonts/AbhayaLibre-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-Medium.ttf') format('truetype'),
        url('fonts/AbhayaLibre-Medium.woff2') format('woff2'),
        url('fonts/AbhayaLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-SemiBold.ttf') format('truetype'),
        url('fonts/AbhayaLibre-SemiBold.woff2') format('woff2'),
        url('fonts/AbhayaLibre-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-Bold.ttf') format('truetype'),
        url('fonts/AbhayaLibre-Bold.woff2') format('woff2'),
        url('fonts/AbhayaLibre-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('fonts/AbhayaLibre-ExtraBold.ttf') format('truetype'),
        url('fonts/AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('fonts/AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'Abhaya Libre', sans-serif;
}

a {
    font-size: 20px;
    color: #323232;
}

.section {
    margin-top: 50px;
    margin-bottom: 180px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.header img {
    width: 400px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.head-nav .header .top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbtn {
    font-size: 50px;
    line-height: 80px;
    display: none;
    margin-right: 30px;
    z-index: 1000;
}

#check {
    display: none;
}

.navbar .nav-item {
    margin: 10px 40px;
    text-decoration: none;
    text-align: center;
}

.navbar .nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 40px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navbar .nav-link:before,
.navbar .nav-link:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #505050;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navbar .nav-link:before {
    top: 0px;
    transform: translateY(10px);
}

.navbar .nav-link:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.navbar .nav-link:hover:before,
.navbar .nav-link:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* .min-size{
    display:none;
} */

.hero {
    margin-top: 10px;
}

.hero img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin: 0 auto;
}

.hero .desc {
    margin: 0 120px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .desc h1 {
    text-align: center;
    font-size: 60px;
    padding: 0 80px;
    min-width: 400px;
}

.hero .desc p {
    text-align:center;
    margin-bottom: 60px;
    font-size: 25px;
    flex-grow: 1;
}


/* CSS */
.button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background-color: white;
    color: black;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.footer h1 {
    text-align: center;
}

.footer h2 {
    text-align: center;
    margin-bottom: 80px;
}

.footer .footer-img {
    margin-top: 40px;
    margin-bottom: 80px;
}

.footer img {
    height: 300px;
    padding-right: 30px;
}

.footer .support-list {
    display: flex;
    justify-content: space-around;
}

.footer .support-list img {
    height: 150px;
    padding: 0 40px;
}

.programme {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.programme h1 {
    text-align: center;
    font-size: 50px;
    font-weight:300;
}

.programme h2 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}

.programme h3 {
    font-size: 25px;
}

.programme p {
    font-size: 25px;
}

.programme span {
    font-size: 20px;
}

.programme .time-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
}

.programme .time-slot h3 {
    margin-right: 100px;
}

.programme .time-slot .event-desc p {
    margin-bottom: 10px;
}

.programme .panels {
    margin: 0 200px;
}

.programme .panels ul li {
    font-size: 20px;
    padding-bottom: 5px;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 80px;
}

.feature .single-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.feature .single-feature a {
    font-size: 22px;
}

.feature .single-feature img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.speaker {
    margin: 0 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.speaker h1 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight:300;
}

.speaker .single-speaker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    
}

.speaker .single-speaker .text-expand{
    display: flex;
    flex-direction: column;
}



.content{
    display: none;
}

#text-check-1,
#text-check-2,
#text-check-3,
#text-check-4,
#text-check-5,
#text-check-6,
#text-check-7,
#text-check-8,
#text-check-9,
#text-check-10,
#text-check-11
{
    display: none;
}

#text-check-1:checked ~ .content,
#text-check-2:checked ~ .content,
#text-check-3:checked ~ .content,
#text-check-4:checked ~ .content,
#text-check-5:checked ~ .content,
#text-check-6:checked ~ .content,
#text-check-7:checked ~ .content,
#text-check-8:checked ~ .content,
#text-check-9:checked ~ .content,
#text-check-10:checked ~ .content,
#text-check-11:checked ~ .content
{
    display: block;
}

#text-check-1:checked ~ label,
#text-check-2:checked ~ label,
#text-check-3:checked ~ label,
#text-check-4:checked ~ label,
#text-check-5:checked ~ label,
#text-check-6:checked ~ label,
#text-check-7:checked ~ label,
#text-check-8:checked ~ label,
#text-check-9:checked ~ label,
#text-check-10:checked ~ label,
#text-check-11:checked ~ label
{
    display: none;
}

#text-check-1:checked ~ span,
#text-check-2:checked ~ span,
#text-check-3:checked ~ span,
#text-check-4:checked ~ span,
#text-check-5:checked ~ span,
#text-check-6:checked ~ span,
#text-check-7:checked ~ span,
#text-check-8:checked ~ span,
#text-check-9:checked ~ span,
#text-check-10:checked ~ span,
#text-check-11:checked ~ span
{
    display: none;
}

.text-checkbtn{
    cursor: pointer;
}

.text-checkbtn a{
    font-size:20px;
    text-decoration: underline;
    color: #565656;
    transition: 0.3s ease-in;
}

.text-checkbtn a:hover{
    color: #a8a8a8;
}
.speaker .single-speaker img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.026);
}

.speaker .single-speaker .speaker-desc {
    width: 900px;
}

.speaker .single-speaker p {
    font-size: 28px;
    margin-top: 0;
}

.speaker .single-speaker span {
    font-size: 20px;
    margin-top: 0;
    color: #2a2a2a;
}




.breakout {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.breakout h1 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight:300;
}

.breakout .single-breakout {
    display: flex;
    margin-bottom: 60px;
    margin-right: 150px;
}

.breakout .single-breakout img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.08);
}

.breakout .single-breakout p {
    font-size: 28px;
    margin-top: 0;
}

.breakout .single-breakout span {
    font-size: 20px;
    margin-top: 0;
    color: #2a2a2a;
}

.tech-visit {
    margin: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tech-visit h1 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight:300;
}

.tech-visit .single-tech-visit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 100px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.tech-visit .single-tech-visit .container{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    /* box-shadow: 5px 10px rgba(0, 0, 0, 0.08); */
    overflow: hidden;
    
}

.tech-visit .single-tech-visit .container #zoomIn {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.tech-visit .single-tech-visit #zoomIn:hover {
    transform: scale(1.08);
    
}

.tech-visit .single-tech-visit p {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.tech-visit .single-tech-visit span {
    font-size: 22px;
    margin-top: 0;
    color: #444444;
}

.tech-visit .single-tech-visit .container a {
    margin: 0;
}

.tech-visit .single-tech-visit a {
    margin-left: 5px;
}

.img-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.img-container .img-box{
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.img-container .img-box .box{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.img-container .img-box .box img{
    max-width: 100%;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.img-container .img-box .box img:hover{
    transform: scale(1.05);
}

.loc-text h1{
    text-align: center;
    font-size: 50px;
    padding: 0 80px;
    font-weight: 300;
}

.loc-text p{
    color: #2a2a2a;
    font-size: 25px;
    margin-bottom: 80px;
    padding: 0 80px;
}

.main-desc-btn{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* .img-container .popup-img{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.img-container .popup-img span{
    position: absolute;
    top: 0;
    right: 10px;
} */

@media(max-width:1380px) {
    .hero .desc {
        margin-right:80px;
        margin-left: 80px;
    }

    .hero .desc h1 {
        font-size: 60px;
        margin-right: 70px;
        flex-grow: 2;
    }

    .navbar .nav-link {
        margin: 0 20px;
    }

    .breakout {
        margin: 0 80px;
    }

    .breakout .single-breakout {
        margin-right: 0;
    }

    .breakout .single-breakout img {
        margin-right: 70px;
    }

    .tech-visit {
        margin: 0 100px;
    }

    .tech-visit .single-tech-visit {
        margin: 0;
        margin-bottom: 70px;
    }

    .tech-visit .single-tech-visit img {
        margin-right: 70px;
    }

    .speaker {
        margin: 0 110px;
    }

    .speaker .single-speaker {
        margin-right: 0;
    }

    .speaker .single-speaker img {
        margin-right: 0px;
    }

    .speaker .single-speaker .speaker-desc {
        width: 800px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }

    .footer img {
        height: 200px;
        padding-right: 30px;
    }

    .footer .support-list img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        padding: 0 15px;
    }

    .img-container .img-box{
        width: calc(100% - 40px);
    }
}

@media(max-width:1168px) {

    .hero .desc {
        margin: 0 80px;
        margin-top: 150px;
    }

    .hero .desc h1 {
        font-size: 60px;
        margin-right: 40px;
        flex-grow: 2;
        min-width: 500px;
    }

    .feature .single-feature {
        padding: 0 20px;
    }

    .feature .single-feature img {
        width: 250px;
        height: 250px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }

    .footer img {
        height: 150px;
        padding-right: 30px;
    }

    .footer .support-list img {
        height: 120px;
        width: 120px;
        object-fit: cover;
        padding: 0 12px;
    }

    .img-container .img-box{
        width: calc(100% - 30px);
    }
}

@media(max-width: 912px) {
    .header img {
        margin-left: 10px;
    }

    .programme {
        margin: 0 80px;
    }

    .programme .panels {
        margin: 0 130px;
    }

    .programme .time-slot {
        margin-bottom: 0;
    }

    .programme .time-slot .time-slot-ind{
        margin-right: 85px;
    }

    .programme .time-slot h3,
    .programme .time-slot p {
        margin-bottom: 10px;
    }

    .breakout {
        margin: 0 80px;
    }

    .breakout h1 {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .breakout .single-breakout {
        margin-right: 0;
    }

    .breakout .single-breakout img {
        margin-right: 30px;
        height: 300px;
        object-fit: cover;
    }

    .breakout .single-breakout p {
        margin-bottom: 10px;
    }

    .tech-visit {
        margin: 0 80px;
    }

    .tech-visit h1 {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .tech-visit .single-tech-visit {
        margin-right: 0;
    }

    .tech-visit .single-tech-visit img {
        margin-right: 30px;
        height: 300px;
        object-fit: cover;
    }

    .tech-visit .single-tech-visit p {
        margin-bottom: 10px;
    }

    .speaker {
        margin: 0 80px;
    }

    .speaker h1 {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .speaker .single-speaker {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .speaker .single-speaker img {
        margin-right: 30px;
    }

    .speaker .single-speaker p {
        margin-bottom: 10px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar .nav-item {
        text-align: center;
    }

    .header h1 {
        font-size: 30px;
    }

    /* .min-size{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 200px;
    } */

    .hero .desc {
        margin: 0 50px;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero .desc h1 {
        font-size: 60px;
        margin-right: 0;
        flex-grow: 2;
        min-width: 300px;
    }

    .hero .desc p {
        font-size: 30px;
        text-align: left;
    }

    .button{
        font-size: 20px;
        padding: 30px 30px;
        width: 30%;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }

    .footer img {
        height: 200px;
        padding-right: 30px;
    }

    .footer .support-list img {
        height: 130px;
        width: 130px;
        object-fit: cover;
        padding: 0 15px;
    }

    .img-container .img-box{
        column-gap: 12px;
        columns: 3;
    }

    .img-container .img-box .box{
        margin-bottom: 4px;
    }
    .img-container .img-box .box img{
        border-radius: 10px;
    }
    
}

@media(max-width:915px) {
    .head-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .head-nav .header img {
        width: 400px;
        margin-right: 350px;
    }

    .head-nav .header h1 {
        display: none;
    }

    .head-nav .checkbtn {
        display: block;
        position: fixed;
        top: 50px;
        right: 30px;
    }

    .head-nav hr {
        display: none;
    }

    .header .top-header {
        display: flex;
        flex-direction: row;
    }

    .navbar {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #ffffff;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        transition: all .5s;
        z-index: 999;
        overflow-y: hidden;
    }

    .speaker .single-speaker{
        flex-direction: column;
        align-items: center;
    }

    .speaker .single-speaker img{
        width: 100%;
        height: 400px;
        object-position: center 8%;
        margin-right: 0px;
        margin-bottom: 20px;
    }


    .speaker .single-speaker .speaker-desc{
        width: 100%;
    }

    .feature {
        display: flex;
        flex-direction: column;
    }

    .feature .single-feature {
        margin-bottom: 30px;
    }

    .navbar .nav-link {
        font-size: 50px;
        padding: 30px 0;
    }

    #check:checked~.navbar {
        left: 0;
    }

    .hero img {
        height: 500px;
    }
}

@media(max-width: 500px) {

    .header{
        margin-top: 10px;
    }

    .header .top-header img {
        margin-right: 0;
        width: 250px;
    }

    .header h1 {
        margin: 0 30px;
        font-size: 1.2rem;
    }

    .section{
        margin-bottom: 50px;
    }

    .hero img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .hero .desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
        margin-top: 0;
    }

    .hero .desc h1 {
        font-size: 30px;
        padding: 0 30px;
        margin:0;
        margin-top: 50px;
        text-align: center;
    }

    .hero .desc p {
        font-size: 20px;
        margin:0;
        margin-top: 20px;
        text-align: left;
    }

    .button {
        appearance: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        margin-top: 30px;
        min-height: 60px;
        min-width: 0;
        padding: 20px 15px;
        width: 50%;

    }

    .head-nav .checkbtn {
        display: block;
        position: fixed;
        top: 30px;
        right: 10px;
        font-size: 25px;
        line-height: 80px;
        margin-right: 30px;
    }

    .main-desc-btn{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .text-checkbtn a{
        font-size:15px;
        text-decoration: underline;
        color: #565656;
        transition: 0.3s ease-in;
    }

    .footer h1 {
        display:none;
    }

    .footer h2 {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .footer .footer-img{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .footer .footer-img img{
        width: 130px;
        height: auto;
        padding:0  10px;
    }

    .footer .support-list img{
        width:60px;
        height:60px;
        padding:0 5px;
    }

    .navbar .nav-item{
        font-size:30px;
    }

    .programme{
        margin: 30px;
    }

    .programme h2{
        font-size: 25px;
    }

    .programme h3{
        font-size: 25px;
    }

    .programme .time-slot{
        margin-left: 25px;
        margin-bottom: 20px;
    }

    .programme .time-slot h3 {
        margin-right: 40px;
        margin-top: 10px;
    }

    .programme .time-slot p {
        margin-top: 10px;
        font-size: 22px;
    }

    .programme .time-slot span {
        color:#1A1A1A;
        font-size: 18px;
    }

    .programme .time-slot .event-desc p {
        margin-bottom: 2px;
    }

    .programme .time-slot .time-slot-ind{
        margin-right: 28px;
    }

    .programme .panels {
        margin: 0 70px;
    }

    .feature{
        margin-right:30px;
        margin-left:30px;
    }

    .speaker{
        margin: 30px;
    }

    .speaker .single-speaker img{
        width: 100%;
        height: 300px;
    }

    .speaker .single-speaker p{
        font-size: 25px;
    }

    .speaker .single-speaker span{
        font-size: 16px;
    }


    .breakout{
        margin: 30px;
    }

    .breakout .single-breakout{
        display: flex;
        flex-direction: column;
    }

    .breakout .single-breakout img{
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.05); 
    }

    .breakout .single-breakout p{
        font-size: 25px;
    }

    .breakout .single-breakout span{
        font-size: 18px;
    }


    .tech-visit{
        margin: 30px;
    }

    .tech-visit h1{
        font-size: 40px;
    }

    .tech-visit .single-tech-visit{
        display: flex;
        flex-direction: column;
    }

    .tech-visit .single-tech-visit .container{
        width: 100%;
        height: 200px;
    }

    .tech-visit .single-tech-visit #zoomIn{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.05); 
    }

    .tech-visit .single-tech-visit p{
        font-size: 25px;
    }

    .tech-visit .single-tech-visit span{
        font-size: 20px;
    }

    .img-container{
        margin-bottom: 80px;
    }

    .img-container .img-box{
        columns: 2;
        column-gap: 8px;
    }

    .img-container .img-box .box{
        margin-bottom: 3px;
    }
    .img-container .img-box .box img{
        border-radius: 5px;
    }

    .loc-text{
        font-size: 50px;
    }

    .loc-text h1{
        font-size: 30px;
        padding: 0 50px;
    }

    .loc-text p{
        font-size: 20px;
        padding: 0 30px;
        margin-bottom: 40px;
    }

    .speaker h1{
        font-size: 40px;
    }
}

@media(max-width: 375px){
    .tech-visit h1{
        font-size: 30px;
    }

    .tech-visit .single-tech-visit .container{
        margin-bottom: 10px;
    }
}

@media(max-width:432px){
    .speaker .single-speaker img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 5px;
        box-shadow: 5px 10px rgba(0, 0, 0, 0.08);
    }
    .speaker .single-speaker p {
        font-size: 20px;
    }

    .hero .desc h1{
        padding: 0 30px;
    }
}